__REGISTRY__ cloud-director-named-disk-csi-driver __VERSION__.__GIT_COMMIT__
registry.k8s.io sig-storage/csi-node-driver-registrar v2.2.0
registry.k8s.io sig-storage/csi-attacher v3.2.1
registry.k8s.io sig-storage/csi-provisioner v2.2.2
